.container{
    padding: 20px;
    background-color: white;
    height: 250px;
    width: 200px;
    border-radius: 5px;
}

.title{
    color: #213562;
    font-family: sans-serif;
    margin-bottom: 25px;

}

.text{
    margin-bottom: 20px;
    width: 180px;
    position:relative;
    cursor: pointer;
    

}

.text::after{
    content: "";
    display: inline-block;
    width: 30px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url("../../../assets/images/arrowRight.png");
    position: absolute;
    right: -35px
}